# Data Science Tools and Ecosystem

This notebook will demostrate data science tools and ecosystems.

**Objectives:**
- List popular programming languages
- list popular data libraries
- List open source data science tools

Some popular data science programming languages are:
- Python
- R
- Julia
- SQL

Some popular data libraries for data science are:
1. pandas
2. numpy
2. matplotlib

| Data Science Tools |
| --- |
| Jupyter |
| R Studio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [34]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [68]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60

print(str(minutes) + " min is equal to " + str(round(hours,2)) + " hours")

200 min is equal to 3.33 hours

## Author:
David Sekkes